[TELEGRAM]
; Your Telegram account ID
ADMIN =

; Channel ID to which submissions will be sent to
ADMIN_CHANNEL =

; The main channel ID
CHANNEL =

; Bot token from BotFather
TOKEN =

[SERVER]
; Base web server URL
BASE_WEBHOOK_URL = https://example.org

; Web server listening address (Use 0.0.0.0 to receive requests from all addresses)
HOST = 0.0.0.0

; Web server port
PORT = 8080

; Webhook path
WEBHOOK_PATH = /webhook
